:root {
	--f-size: 16px;
	--main-bg: #0a0a0a;
	--btm-shade: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(10 10 10) 100%);
	--side-shade: linear-gradient(270deg, rgba(6,6,6,0) 0%, rgb(0,0,0,0.75) 100%);
	--color: red;
}

*::-moz-selection {
	background: #ab070c;
	color: #fff;
	text-shadow: none;
  }
  
  ::-moz-selection {
	background: #ab070c;
	color: #fff;
	text-shadow: none;
  }
  
  ::selection {
	background: #ab070c;
	color: #fff;
	text-shadow: none;
  }
  
*, :before, :after {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	display: table;
    content: " ";
}
.clearfix:after {
	clear: both;
}

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	display: block;
	width: 100%;
}
body {
	font-family: arial;
	font-size: 1em;
	background: var(--main-bg);
	color: #fff;
}
.link-redirector {
	padding: 80px 0 160px;
}
.wrapper {
	max-width: 600px;
    margin: 0 auto;
}
.redirector-heading, 
.redirector-body,
.redirector-foot {
    text-align: center;
    float: left;
    width: 100%;
}

.redirector-heading {
    padding-bottom: 30px;
}
.redirector-body {
    padding: 30px;
    background: #101010;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    border-top: solid 3px var(--main-color);
    width: 100%;
    float: left;
    text-align: center;
}
.redirector-body .redirect-msg {
    display: block;
    font-weight: normal;
    margin: 0.5em;
}
.redirector-body .redirect-msg em {
    color: #db0c13;
    font-style: normal;
    font-weight: 600;
}
.redirector-body .wait-msg {
    color: #696969;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}
.redirector-foot h3 {
    color: #464646;
    font-weight: normal;
}
.redirector-foot h3 em {
    font-weight: 600;
}

.wait-done a {
    background: #db0e13;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    margin: 20px auto;
    max-width: 80%;
}

.wait-done a.prev-lnk {
    background: none;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #767676;
    text-decoration: underline;
}

.wait-done {
    display: none;
}